<form method="post">
<label for="sentence">Add the sentence</label>
<input type="text" id="sentence" name="sentence" required>
<label for="email">Your email</label>
<input type="email" id="email" name="email" required>

<input type="submit" value="Add">
</form>
