<form method="post" enctype="multipart/form-data">
<label for="picture">Upload an avatar</label>
<input type="file" id="picture" name="picture" required>

<input type="submit" value="Change picture">
</form>