<pre>
<%= cow %>
</pre>

<img style="width:200px;" src="https://lp-cdad-2018.s3.eu-west-3.amazonaws.com/chavaudra_vache.jpg" /><br />

<a href="/add">Add a new sentence</a>
<a href="/addPicture">Add a photo</a>
